.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fastq.gz
data/input/SILVA/SILVA_138.2_SSURef_NR99_tax_silva.fasta.gz
data/input/SILVA/silva_nr99_v138.2_toSpecies_trainset.fa.gz
data/output/processed/rdata/phyloseq/sabr_2023_main_physeq_list.rda
data/output/plots/*
# quarto rendering files
.*
reports/sabr_exploratory_and_diversity_cache/*
reports/sabr_exploratory_and_diversity_files/*

